@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #9b59b6;
}

.wrapper {
    width: 450px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}

header .current_date {
    font-size: 1.45rem;
    font-weight: 500;
}

header .icons span {
    user-select: none;
    display: inline-block;
    height: 38px;
    width: 38px;
    color: #878787;
    font-size: 1.4rem;
    margin: 0 1px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    cursor: pointer;
}

header .icons span:hover {
    background-color: #f2f2f2;
}

header .icons span :last-child {
    margin-right: -10px;
}

.wrapper .calendar {
    padding: 20px;
}

.wrapper .calendar ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calendar .weeks li {
    font-weight: 500;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
    user-select: none;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.calendar .days li:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    transition: all .3s ease;
}

.calendar .days li:hover:before {
    background: #f2f2f2;
}

.calendar .days li.active:before {
    background: #9b59b6;
}